@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #D1E2F0;
}

header {
    padding: 15px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #10567E;
    max-height: 70px;
}

header h1 a {
    text-decoration: none;
    color: #D1E2F0;
}

header img {
    width: 40px;
}

main {
    padding: 10px 6%;
}

.container {
    padding: 10px 0;
}

#book-sheet {
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

#book-sheet div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* REVIEW SECTION */

.review {
    display: flex;
    flex-direction: column;
}

button {
    display: block;
    margin: 20px auto;
    background-color: #00b37d;
    /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #008a49;
    /* Darker blue on hover */
}